.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    width: 30rem;
}

.infected {
    border-bottom: 10px solid rgba(0, 255, 55, 0.5);
}
.recovered {
    border-bottom: 10px solid rgba(0, 38, 255, 0.5);
}
.deaths {
    border-bottom: 10px solid rgba(255, 0, 0, 0.5);
}

